body {
    background-color: aqua;
}
#title {
    color: purple;
}
.hour {
    color: blue;
    front-weight: : 
}

p { 
    font-size: 36px;
    text-align: center;
}
.hourTitle {font-weight: bold;
}

